---
import Layout from '../layouts/Layout.astro';
import { StashSearchBuilder } from '../components/StashSearchBuilder';
---

<Layout title="Last Epoch Stash Search Builder - Regex Item Filter Tool">
  <main>
    <StashSearchBuilder client:only="react" />
  </main>
</Layout>

<style>
  main {
    flex: 1;
    background: #111827;
  }
</style>